@charset "utf-8";

@import url("framework.css");

.row1 {
  border-top: 1px solid;
}

/*footer*/
.footerr {
  padding: 10rem 3rem;
  background-color: #f36506;
  height: 300px;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

#header #logo {
  margin: 22px 0 0 0;
}
#header #logo h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-variant: small-caps;
}

#pageintro {
  padding: 200px 0;
}

#pageintro article {
  display: block;
  max-width: 65%;
  margin: 0 auto;
  text-transform: capitalize;
  text-align: center;
}
#pageintro .heading {
  font-size: 5rem;
  font-weight: 700;
}
#pageintro footer {
  margin-top: 50px;
}

.container {
  padding: 80px 0;
}

.sectiontitle {
  display: block;
  max-width: 55%;
  margin: 0 auto 80px;
  text-align: center;
}
.sectiontitle * {
  margin: 0;
}

.grid-3 > li {
  margin-bottom: 50px;
}
.grid-3 > li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.grid-3 > li:nth-child(3n + 1) {
  margin-left: 0;
  clear: left;
}

/* Services */
#services article {
  padding: 30px;
  border-bottom: 2px solid;
}

/* Latest */
#latest {
  text-align: center;
}
#latest > li:last-child {
  margin-bottom: 0;
}
#latest article .excerpt {
  padding: 30px;
  border-bottom: 2px solid;
}
#latest article .excerpt .heading {
  margin: 0 0 8px 0;
}

/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#mainav {
  line-height: normal;
}
#mainav .drop::after,
#mainav li li .drop::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  line-height: 10px;
}

/* Top Navigation */
#mainav {
  position: relative;
  margin-top: -1px;
}
#mainav ul {
  text-transform: uppercase;
}
#mainav ul ul {
  position: absolute;
  width: 180px;
  text-transform: none;
  z-index: 9999;
}
#mainav ul ul ul {
  left: 180px;
  top: 0;
}
#mainav li {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#mainav li:last-child {
  margin-right: 0;
}
#mainav li li {
  width: 100%;
  margin: 0;
}
#mainav li a {
  display: block;
  padding: 30px 15px;
  border: solid;
  border-width: 3px 0 0 0;
}
#mainav li li a {
  border-width: 0 0 1px 0;
}
#mainav .drop {
  padding-left: 15px;
}
#mainav li li a,
#mainav li li .drop {
  display: block;
  margin: 0;
  padding: 10px 15px;
}
#mainav .drop::after,
#mainav li li .drop::after {
  content: "\f0d7";
}
#mainav .drop::after {
  top: 38px;
  left: 5px;
}
#mainav li li .drop::after {
  top: 15px;
  left: 5px;
}
#mainav .active a {
  font-weight: 700;
}
#mainav li li a,
#mainav .active li a {
  font-weight: 400;
}
#mainav ul ul {
  visibility: hidden;
  opacity: 0;
}
#mainav ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}

#mainav form {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
#mainav form select,
#mainav form select option {
  display: block;
  cursor: pointer;
  outline: none;
}
#mainav form select {
  width: 100%;
  padding: 5px;
  border: 1px solid;
}
#mainav form select option {
  margin: 5px;
  padding: 0;
  border: none;
}

/* Colours
--------------------------------------------------------------------------------------------------------------- */
body {
  color: #a8a8a8;
  background-color: #202020;
}
a {
  color: #f36506;
}
a:active,
a:focus {
  background: transparent !important;
}

.overlay {
  color: #ffffff;
  background-color: inherit;
}
.overlay::after {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.55);
}
.overlay.light {
  color: #474747;
}
.overlay.light::after {
  background-color: rgba(255, 255, 255, 0.7);
}

.btn {
  color: #ffffff;
  background-color: #f36506;
  border-color: #f36506;
}
.btn:hover,
.btn.inverse {
  color: inherit;
  background-color: transparent;
  border-color: inherit;
}

/* Rows */
.row1 {
  color: #474747;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
}
.row2 {
  color: #474747;
  background-color: #f4f4f4;
}
.row3 {
  color: #474747;
  background-color: #ffffff;
}

#services article {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.03);
  border-color: transparent;
}
#services article:hover {
  color: #ffffff;
  background-color: #f36506;
  border-color: #ffffff;
}

#latest article .excerpt {
  color: #474747;
  background-color: #ffffff;
  border-color: transparent;
}
#latest article .excerpt:hover {
  border-color: #f36506;
}
/* Navigation */
#mainav li a {
  color: inherit;
  border-color: transparent;
}
#mainav .active a,
#mainav a:hover,
#mainav li:hover > a {
  color: #f36506;
  background-color: inherit;
  border-color: #f36506;
}
#mainav li li a,
#mainav .active li a {
  color: #ffffff;
  background-color: #f36506;
  border-color: #f36506;
}
#mainav li li:hover > a,
#mainav .active .active > a {
  color: #ffffff;
  background-color: #f36506;
  border-color: #f36506;
}
#mainav form select {
  color: #474747;
  background-color: #ffffff;
  border-color: #d7d7d7;
}

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport {
  width: device-width;
}

@media screen and (min-width: 1140px) {
  .hoc {
    max-width: 1140px;
  }
}

@media screen and (min-width: 978px) and (max-width: 1140px) {
  .hoc {
    max-width: 95%;
  }
}

/* login page*/
.login {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 65%;
}
.formContainer {
  transform: translate(15%, 5%);
}
.modal, .reg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 12px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.overlayy, .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hiddenn, .hide {
  display: none;
}

.centerBtn {
  transform: translate(30%, 5%);
  width: 40%;
  border-radius: 12px;
}
.centerP {
  color: black;
  transform: translate(20%, 5%);
  margin-top: 10px;
  display: inline-block;
  margin-left: 65px;
}

.modalText{
  color: black;
}
